.mb {
    &-1 {
        margin-bottom: $base-space;
    }

    &-2 {
        margin-bottom: $base-space*2;
    }

    &-3 {
        margin-bottom: $base-space*3;
    }

    &-4 {
        margin-bottom: $base-space*4;
    }

    &-5 {
        margin-bottom: $base-space*6;
    }

    &-6 {
        margin-bottom: $base-space*6.75;
    }

    &-7 {
        margin-bottom: $base-space*12.5;
    }

    @media (max-width:768px) {
        &-lg-1 {
            margin-bottom: $base-space;
        }

        &-lg-2 {
            margin-bottom: $base-space*2;
        }

        &-lg-3 {
            margin-bottom: $base-space*2.5;
        }

        &-lg-4 {
            margin-bottom: $base-space*3;
        }

        &-lg-5 {
            margin-bottom: $base-space*4;
        }

        &-lg-6 {
            margin-bottom: $base-space*6;
        }

        &-lg-7 {
            margin-bottom: $base-space*7.5;
        }

        &-lg-8 {
            margin-bottom: $base-space*11;
        }
    }
}

.p-1 {
    padding: 16px;
}

.pt {
    &-1 {
        padding-top: $base-space*2; //16px
    }

    &-2 {
        padding-top: $base-space*3; //24
    }

    &-3 {
        padding-top: $base-space*4; //32
    }

    &-4 {
        padding-top: $base-space*6; //48
    }

    @media (max-width:768px) {
        &-lg-1 {
            padding-top: $base-space*2; //16
        }

        &-lg-2 {
            padding-top: $base-space*3; //24
        }
    }
}

.pb {
    &-1 {
        padding-bottom: $base-space*2; //16px
    }

    &-2 {
        padding-bottom: $base-space*3; //24
    }

    &-3 {
        padding-bottom: $base-space*4; //32
    }

    &-4 {
        padding-bottom: $base-space*6; //48
    }

    @media (max-width:768px) {
        &-lg-1 {
            padding-bottom: $base-space*2; //16
        }

        &-lg-2 {
            padding-bottom: $base-space*3; //24
        }
    }
}

.ps {
    &-1 {
        padding-left: $base-space*2; //16px
    }

    &-2 {
        padding-left: $base-space*3; //24
    }

    &-3 {
        padding-left: $base-space*4; //32
    }

    @media (max-width:768px) {
        &-lg-1 {
            padding-left: $base-space*2; //16
        }

        &-lg-2 {
            padding-left: $base-space*3; //24
        }
    }
}

.pe {
    &-1 {
        padding-right: $base-space*2; //16px
    }

    &-2 {
        padding-right: $base-space*3; //24
    }

    &-3 {
        padding-right: $base-space*4; //32
    }

    @media (max-width:768px) {
        &-lg-1 {
            padding-right: $base-space*2; //16
        }

        &-lg-2 {
            padding-right: $base-space*3; //24
        }
    }
}

/*gap*/
/*垂直*/
.gap-row-1 {
    row-gap: $base-space*3.5; //28
}

/*水平*/
.gap-column {
    &-1 {
        column-gap: $base-space*2; //16
    }

    &-2 {
        column-gap: $base-space*2.75; //22
    }

    &-3 {
        column-gap: $base-space*6; //48
    }

    @media (max-width:768px) {
        &-lg-1 {
            column-gap: $base-space*0.75; //6
        }
    }
}


/*字型大小*/
.font {
    &-1 {
        font-size: $font-base*2; //32
    }

    &-2 {
        font-size: $font-base*1.5; //24
    }

    &-3 {
        font-size: $font-base*1.25; //20
    }

    &-4 {
        font-size: $font-base*1.125; //18
    }

    &-5 {
        font-size: $font-base*0.875; //14
    }

    &-6 {
        font-size: $font-base*0.75; //12
    }

    @media (max-width:768px) {
        &-lg-1 {
            font-size: $font-base*2; //32
        }

        &-lg-2 {
            font-size: $font-base*1.75; //28
        }

        &-lg-3 {
            font-size: $font-base*1.5; //24
        }

        &-lg-4 {
            font-size: $font-base*1.125; //18
        }

        &-lg-5 {
            font-size: $font-base; //16
        }

        &-lg-6 {
            font-size: $font-base*0.875; //14
        }
    }
}

/*字型*/


/*flex*/
.d {
    &-flex {
        display: flex;
    }

    &-none {
        display: none;
    }

    @media (max-width:768px) {
        &-lg-none {
            display: none;
        }
    }
}

.flex {
    &-wrap {
        flex-wrap: wrap;
    }

    &-column {
        flex-direction: column;
    }

    &-row-reverse {
        flex-direction: row-reverse;
    }

    @media (max-width:768px) {
        &-lg-wrap {
            flex-wrap: wrap;
        }

        &-lg-column {
            flex-direction: column;
        }
    }

    @media (max-width:576px) {
        // &-md-wrap {
        //     flex-wrap: wrap;
        // }

        &-md-column {
            flex-direction: column;
        }
    }
}

.justify {
    &-content-center {
        justify-content: center;
    }

    &-content-around {
        justify-content: space-around;
    }

    &-content-between {
        justify-content: space-between;
    }

    @media (max-width:768px) {
        &-lg-content-start {
            justify-content: flex-start;
        }

        &-lg-content-center {
            justify-content: center;
        }

        &-lg-content-between {
            justify-content: space-between;
        }
    }
}

.align-items {
    &-center {
        align-items: center;
    }

    &-stretch {
        align-items: stretch;
    }
}

.align-self {
    &-center {
        align-self: center;
    }
}

/*定位*/
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

/*width*/
.w {
    &-1 {
        width: $base-width*5.75; //230px
    }

    &-30 {
        max-width: 30%;
    }


    @media (max-width:768px) {
        &-lg-50 {
            max-width: 50%;
        }

        &-lg-100 {
            max-width: 100%;
        }
    }

    @media (max-width:576px) {
        &-sm-100 {
            max-width: 100%;
        }
    }
}

/*img-width*/
.w-img {
    &-1 {
        max-width: $base-width*2; //80px
    }

    &-2 {
        max-width: $base-width*2.15; //86px
    }

    &-3 {
        max-width: $base-width*2.25; //90px
    }



    @media (max-width:768px) {
        &-lg-1 {
            max-width: 60px;
        }
    }

}

.sitckey {
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 1;
}



/*圓弧*/
.rounded {
    &-1 {
        border-radius: 12px;
    }

    &-pill {
        border-radius: 100%;
    }
}

/*陰影*/
.shadow {
    box-shadow: 0px 2px 10px #00000014;
}

/*文字顏色*/
.text {
    &-primary {
        color: $primary;
    }

    &-secondary {
        color: $secondary;
    }

    &-gary {
        color: $gray-300;
    }

    /*居中*/
    &-center {
        text-align: center;
    }

    @media (max-width:768px) {
        &-lg-center {
            text-align: center;
        }
    }

    &-nowrap {
        white-space: nowrap;
    }
}

/*背景色*/
.bg {
    &-gray {
        background: $gray-200;
    }

    &-transparent {
        background: transparent;
    }


}

/*border*/
.border-bottom-1 {
    border-bottom: 1px solid $gray-100;
}